@import url("reset.css");

@import url("text.css");
/* Reset to some base standard */
/* Set up text so it isn't completely awful */
/* Page */
html {
  background-color: #373737;
}
body {
  background-color: #373737;
  border: none;
  margin: 0px auto 0px auto;
  padding: 10px;
  position: relative;
  color: #dddddd;
}
a {
  color: #ff6600;
  text-decoration: none;
}
div.column {
  float: left;
  width: 300px;
  margin: 0px 20px 30px 20px;
}
/* Message */
div.message {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #282828;
  padding: 4px 4px 4px 60px;
  min-height: 54px;
  position: relative;
  color: #cccccc;
  margin: 2px;
  font-size: 8pt;
  padding-bottom: 30px;
  overflow: hidden;
}
div.message .from_user a {
  font-weight: bold;
  color: white;
  text-decoration: none;
  font-size: 10pt;
}
div.message img.profile_image {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 48px;
  height: 48px;
}
div.message div.buttons {
   border-top: 1px solid #222;
  position: absolute;
  width: 288px;
  padding: 4px;
  text-align: right;
  background-color: #2f2f2f;
  bottom: 0px;
  right: 0px;
    -webkit-border-bottom-right-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
-moz-border-radius-bottomright: 4px;
-moz-border-radius-bottomleft: 4px;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;

}
div.message button {
  display: inline;
  width: 60px;
  margin: 2px;
  background-color: #999999;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #999999;
}

div.message button:hover {
    background-color: #aaaaaa;
    border: 1px solid #aaa;
    cursor: pointer;
}

div.message.tagged {
  background-color: #585858;
}
div.message.tagged div.buttons {
  background-color: #585858;
}

h4 {
    border-bottom: 2px solid #303030;
}